.page_404 {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.page_404 h1 {
    color: #353535;
    margin-bottom: 20px;
}

.page_404 h2 {
    color: #353535;
    margin-bottom: 50px;
}

.page_404 a {
    width: fit-content;
    text-transform: capitalize;
    text-decoration: none;
}