.icon_btn {
    width: 65px;
    height: 65px;
    background: #FFFFFF;
    border-radius: 6px;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}